@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  background-color: #000;
}

.five__content {
  position: relative;
  left: 27%;
  top: 150px;
  background-color: #ffffff;
  border-radius: 4px;
  width: 640px;
  height: 328px;
  padding: 15px;
}

.five__title {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  padding-top: 20px;
}

.five__subtitle {
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #a9a9a9;
  padding-top: 15px;
}

.five__accept {
  position: relative;
  top: 10%;
  left: 44%;
}

.five__button {
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  padding-top: 60px;
}

.btn {
  /* font-family: "Sora"; */
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #ffffff;
  background: #232529;
  border-radius: 4px;
  border: none;
  padding: 15px 150px;
}

@media screen and (min-width: 2560px) {
  .five__content {
    left: 25%;
    top: 400px;
  }
}
